.active{
  background-color: #D54C68 !important;
  color: #FFFFFF;
}

.dateStyle {
color: red !important;
}

.mat-calendar-body-selected{
  background-color: #D54C68 !important;
}

.mat-calendar-body-cell-container{
  background-color: #D54C68 !important;

}
