h3{
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;

}

.price{
  font-size: 18px;
  font-weight: 700;
  color: #FFA400;
}

.active{
  background-color: #f6dfe5e7 !important;
}


.btn{
  background-color: #D54C68 !important;
  color: #FFFFFF !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  outline: none !important;
  border: none !important;

 }


