<div class="card mt-2" routerLink="/posts/{{post.uid}}" >
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" [class.active]="act == 0"></li>
      <li data-target="#carouselExampleIndicators" [class.active]="act == 1"></li>
      <li data-target="#carouselExampleIndicators" [class.active]="act == 2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item" [class.active]="n === act" *ngFor="let i of post.images; let n = index">
        <img class="d-block w-100 card-img-top" [src]="i" alt="...">
      </div>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title font-weight-bold">{{post.label}} </h5>
    <p class="text-muted"> <i class="fa fa-map-marker"></i> <span class="ml-2">{{post.hotel.address}}</span> </p>
    <p class="card-text text-right price">{{post.price}} F CFA</p>
    <div class="mt-3">
      <span class="badge badge-secondary py-1 px-2 mx-2" *ngFor="let v of post.availability" >{{v.from}}</span>
    </div>
  </div>
</div>
