<div class="card mt-2" routerLink="/posts/{{post.uid}}" >
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" [class.active]="act == 0"></li>
      <li data-target="#carouselExampleIndicators" [class.active]="act == 1"></li>
      <li data-target="#carouselExampleIndicators" [class.active]="act == 2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item" [class.active]="n === act" *ngFor="let i of post.images; let n = index">
        <img class="d-block w-100 card-img-top" [src]="i" alt="...">
      </div>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title font-weight-bold">{{post.label}} </h5>
    <p class="card-text text-right price">{{post.price}} F CFA</p>
    <a  href="#" class="badge badge-success py-1 px-2 mx-2">{{post.from}}</a>
    -
    <a  href="#" class="badge badge-danger py-1 px-2 mx-2">{{post.until}}</a>
  </div>
</div>
