
.ng-autocomplete{
  max-width: 100%;
  position: relative;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 65px;
  padding-top: 10px;
  ::ng-deep .autocomplete-container {
    box-shadow: none;
    outline: none !important;
    border: none !important;



  }
}





.demo-inline-calendar-card {
  width: 300px;
}

.time-start, .time-end{
  max-width: 100% !important;
  border: 1px solid #ccc;
  padding: .8em;
  border-radius: 4px;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: #FFFFFF;
}

.time-start{
  background-color: rgb(2, 132, 43);
}

.time-end{
  background-color: rgb(176, 138, 3);
}
.mat-calendar-body-selected{
  background: red !important;
  border-radius: 100%;
}



