<div class="container ">
  <div class="d-flex mb-2">
    <div class="align-self-center">
      <button class="btn btn-outline-default" style="background-color: transparent;" >
        <i class="fa fa-long-arrow-left"  (click)="back()"></i>
      </button>
    </div>
    <div class="align-self-center pt-3 ml-3">
      <h3 *ngIf="step == 1" class="font-weight-bold">Choisir une date de séjour</h3>
      <h3 *ngIf="step == 0" class="font-weight-bold">Rechercher un hôtel</h3>
    </div>
  </div>

  <div *ngIf="step==0">
    <div class="ng-autocomplete">
      <ng-autocomplete
        [data]="hotels"
        [searchKeyword]="keyword"
        placeholder="Ville, hotel ..."
        (selected)='selectEvent($event)'
        (inputChanged)='onChangeSearch($event)'
        (inputFocused)='onFocused($event)'
        [itemTemplate]="itemTemplate"
        [notFoundTemplate]="notFoundTemplate">
      </ng-autocomplete>

      <ng-template #itemTemplate let-item>
      <div class="d-flex align-items-center px-3">
        <i class="fa fa-map-marker"></i>
        <a [innerHTML]="item.label" class="ml-2"></a>
      </div>

      </ng-template>

      <ng-template #notFoundTemplate let-notFound>
      <div [innerHTML]="notFound"></div>
      </ng-template>

      </div>
  </div>

  <div *ngIf="step==1">
    <mat-card class="demo-inline-calendar-card" style="width: 100%;">
      <mat-calendar [(selected)]="selected" (selectedChange)="onSelect(selected)"></mat-calendar>
    </mat-card>
    {{selected}}
  </div>

</div>


