.cover{
  background-image: url("../../../assets/download.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 130px;
}

h3{
  font-size: 16px;
  font-weight: 600;
  padding-right: 40%;
}
