<div class="container-fluid px-0">
  <div class="cover mt-4 mb-2 pl-2">
    <h3 class="mt-3 pt-3">{{text}}</h3>
  </div>
  <div class="row">
   <div class="col-6">
    <button class="btn btn-outline-secondary btn-block">
      <div class="d-flex align-items-center">
        <img src="assets/playstore.png" alt="google play" style="width: 32px ; height: 32px">
        <p class="ml-2 text-left">
         <span style="font-size: 12px;">GET IT ON</span>
         <br>
         <span>Google Play</span>
        </p>
      </div>
    </button>
   </div>
   <div class="col-6">
    <button class="btn btn-outline-secondary btn-block">
      <div class="d-flex align-items-center">
        <img src="assets/apple.png" alt="app store" style="width: 32px ; height: 32px">
        <p class="ml-2 text-left">
          <span style="font-size: 12px;">Download on the</span>
          <br>
          <span>App Store</span>
         </p>
      </div>

    </button>
   </div>

  </div>
</div>
