/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; background-color: #F2F2F2; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
 border: 1px solid rgba(164, 164, 164, 0.8);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.075) inset, 0 0 0 rgba(126, 126, 126, 0.6);
  outline: none;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
 border: 1px solid rgba(179, 178, 178, 0.8);
}

.input-group-prepend, .input-group-text{
  background-color: #FFFFFF !important;
  //border-right: 0 solid #FFFFFF !important;
}

.form-control{
  border-left: 0 solid #FFFFFF !important;
  padding: .8em 4px;

}

.btn{
  background-color: #D54C68 !important;
  color: #FFFFFF !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  outline: none !important;
  border: none !important;

 }


