/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; background-color: #F2ECEC; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.input-group-prepend, .input-group-text{
  background-color: #FFFFFF !important;
  //border-right: 0 solid #FFFFFF !important;
}








.selectedCells{
  border: 2px solid #D54C68 !important;
  border-radius: 50% !important;
}

.mat-calendar-body-selected{
  background-color: #D54C68 !important;
}



.unSelected{
  text-decoration: line-through !important;
  .mat-focus-indicator{
    text-decoration: line-through !important;

  }
}



